<!--
=========================================================
* Soft UI Dashboard - v1.0.2
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard
* Copyright 2021 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://github.com/creativetimofficial/soft-ui-dashboard/blob/master/LICENSE.md)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/newsfeedstyle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png">
  <link rel="icon" type="image/png" href="../public/images/favicon.png">
  <title>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.2" rel="stylesheet" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <title>
    Soft UI Dashboard by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.2" rel="stylesheet" />
  <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.27.4.js"></script>
	<script src="js/dashboard.js?version=2"></script>
	<script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.0/dist/index.min.js"></script>
</head>

<body>
  <main class="g-sidenav-show   bg-white">
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg  blur blur-rounded top-0  z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid">
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="/admin">
                    <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="/food">
                    Food
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="/tour">
                    Tours
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="/covid">
                    Covid Tracker
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="/tourpackage">
                   Tour Packages
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="/offersforyou">
                    Offers For You
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="/newsfeed">
                    News Feed
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="/musicplayer">
                    Music Player
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
  </main>
  <section style="margin-top: 90px;">
    <div id="wrapper">
			<div id="content">
				<div id="featured-story">
					<div id="countdown"></div>
					<p><div id="countdown-time">More good news in: 1:50</div></p>
					<div id="featured-story-post"></div>
					<div id="featured-vote">
						<button onClick="publishVote('1')">😀</button>
						<button onClick="publishVote('2')">❤️</button>
						<button onClick="publishVote('3')">⭐</button>
						<button onClick="publishVote('4')">🏆</button>
					</div>
				</div>
			</div>
			<div id="left-sidebar" style="margin-top: 20px;">
				<div id="top-story-header">
					<h1>TODAY'S BEST NEWS</h1>
				</div>
				<div id="top-story-group">
				</div>
			</div>
		</div>
  </section>
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/js/soft-ui-dashboard.min.js?v=1.0.2"></script>
</body>

</html>